@model SimpleGallery.Helpers.PagedData<ImageModel>

<div class="container body-content">
    @for (int i = 1; i <= Model.Data.Count(); i++)
    {
        <div class="mySlides">
            <div class="numbertext">@i / @Model.Data.Count()</div>
            <img src=@Model.Data.ToList()[i - 1].Url style="width:100%">
        </div>
    }

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<div class="container body-content">
    <div class="row">
        @foreach (var image in Model.Data)
        {
            <a asp-controller="Gallery" asp-action="Detail" asp-route-id="@image.Id">
                <div class="gallery-image" style="background-image:url(@image.Url)"></div>
            </a>
        }
    </div>
    <div class="row">
        @for (int i = 1; i <= Model.NumberOfPages; i++)
        {
            if (i == Model.CurrentPage)
            {
                @i
            }
            else
            {
                <a class="page-number" href="javascript:void();">@i</a>
            }
        }
    </div>
</div>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex - 1].style.display = "block";
    }
</script>
