@model SimpleGallery.Helpers.PagedData<ImageModel>

<script type="text/javascript">
    $().ready(function () {
        $(document).on("click", ".page-number", function () {
            var page = parseInt($(this).html());

            $.ajax({
                url: '@Url.Action("ImageList")',
                data: { "page": page },
                success: function (data) {
                    $("#image-list").html(data);
                }
            });
        });
    });
</script>

<div id="image-list">
    @await Html.PartialAsync("ImageList")
</div>